// main menu categories-nav

.shb-header-2 .shb-navbar #mainNav .shb-nav-item:hover .categories-nav {
    opacity: 1;
    visibility: visible;
}

.shb-header-2 .shb-navbar #mainNav .categories-nav {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: $color-white;
    border-radius: $globalElementsBorderRadius;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.10);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in;

    a {
        padding: 5px 10px;
        font-size: 0.9rem;
        line-height: 1rem;
        white-space: nowrap;
        display: block;
        color: $header-navbar-light-links-color;

        &:hover, &.hover, &:active, &.active, &:disabled, &.disabled {
          color: rgba($header-navbar-light-links-color, 0.85);
        }
    }

    .categories-nav__list,
    .categories-nav__sublist {
        @extend %clear-list;
    }

    .categories-nav__list {
        display: flex;
        flex-direction: row;
        text-align: left;

        &.categories-nav__list--vertical {
            flex-direction: column;
            padding: 10px;

            > .categories-nav__item {
                padding: 0;
                min-width: auto;
            }
        }

        > .categories-nav__item {
            padding: 10px;
            min-width: 100px;

            > a {
                font-weight: 800;
            }
        }

        .categories-nav__item {
            &.categories-nav__item--active > a {
                background-color: rgba($header-navbar-light-links-color, 0.1);
                border-radius: $globalElementsBorderRadius;
            }

            &.categories-nav__item--no-products > a {
                opacity: 0.5;
            }
        }
    }
}

// mobile menu categories-nav

.shb-mobile-menu .categories-nav {
    .categories-nav__list,
    .categories-nav__sublist {
        @extend %clear-list;
        padding-left: 20px;
    }

    .categories-nav__item {
        &.categories-nav__item--no-products {
            opacity: 0.5;
        }
    }
}
