.shb-footer-2 {
  //@extend %footer;

  margin: 3rem auto;

  .shb-footer-social {
    @extend %social-links;

    a {
      @extend %social-link;
    }
  }

  .shb-footer-nav {
    @extend %footer-menu;
    @extend %footer-menu-horizontal;

    @include until ($tablet) {
      justify-content: left;
      padding-bottom: 0;
      padding-top: 0;
    > li:first-child {
      padding-left: 0;
    }
    }

  }

  .shb-footer-copyright {
    @extend %footer-copyright;
    // @extend %align-right;
    @extend %align-center;
  }
}
