.shb-header-2 {
  @extend %shb-banner-after-header;

  .shb-header-top {
    @extend %shb-header-top;
  }

  .shb-header-social {
    @extend %social-links;

    li {
      margin-right: 7px;
    }
  }

  #logo {
    @extend %shb-header-logo;
  }

  .shb-right-header {
    @extend %shb-right-header;
  }

  .shb-cart-widget {
    @extend %shb-cart-widget;
  }

  .shb-navbar {
    background-color: $header-navbar-light-background;

    a {
      color: $header-navbar-light-links-color;
    }

    .shb-border-top {
      border-top: 1px solid $header-border-color;
    }

    #mobileNav {
      @extend %shb-mobile-nav;
    }

    #mainNav {
      .shb-nav-item {
        @extend %shb-nav-item;

        > a {
          border-bottom: 2px solid transparent;
          padding-bottom: 1px;
          font-weight: bold;

          &:hover {
            border-bottom-color: $header-navbar-light-links-color;
          }
        }

        &.active {
          > a {
            border-bottom-color: $header-navbar-light-links-color;
          }
        }

        .shb-submenu {
          background-color: $header-navbar-light-background;
        }
      }
    }

    &.is-sticky {
      @extend %is-sticky;
    }
  }
}

.shb-header-2 .shb-navbar #mainNav .shb-nav-item:hover .categories-nav {
    opacity: 1;
    visibility: visible;
}

.shb-header-2 .shb-navbar #mainNav .categories-nav {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: $color-white;
    border-radius: $globalElementsBorderRadius;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.10);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in;

    a {
        padding: 5px 10px;
        font-size: 0.9rem;
        line-height: 1rem;
        white-space: nowrap;
        display: block;

        &:hover, &.hover, &:active, &.active, &:disabled, &.disabled {
          outline: none;
          opacity: .85;
        }
    }

    .categories-nav__list,
    .categories-nav__sublist {
        @extend %clear-list;
    }

    .categories-nav__list {
        display: flex;
        flex-direction: row;
        text-align: left;

        > .categories-nav__item {
            padding: 10px;
            min-width: 100px;

            > a {
                font-weight: 800;
            }
        }
    }

    .categories-nav__sublist {
        > .categories-nav__subitem {
            > a {
            }
        }
    }
}
